@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    margin-left: 25px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }





  .fa {
      border-radius: 10px;

    font-size: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 1px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
*,
*::before,
*::after {

  padding: 0;
  
}

.header {

  font-size: 15px;
  width: 100%;
  height: 10vh;
  background-color:black ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.flexky {
  position: fixed;
  width: 100%;
  
  transition: background-color 0.3s;
}
/* @media screen and (max-width: 900px) {
  .flexky {
    background-color: #263238;
  }
} */


.flexky__button {
  display: none;
}
@media screen and (max-width: 900px) {
  .flexky__button {
  
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 25px;
    height: 37px;
    margin: 17.5px;
    float: right;
    cursor: pointer;
  }
}
.flexky__button span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
}
.flexky__container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;
  background-color: transparent;
}
@media screen and (max-width: 900px) {
  .flexky__container {
    
    display: block;
    width: 300px;
    margin: 0; 
    transform: translate(-300px, 60px);
    transition: transform 0.3s ease-in-out;
  }
  .flexky__container--active {
    transform: translate(0, 60px);
  }
}
.flexky__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  line-height: 60px;
  transition: all 0.3s;
}
@media screen and (max-width: 900px) {
  .flexky__link {
    padding-left: 15px;
    line-height: 3;
    background-color: black;
  }
  .flexky__link:hover {
    padding-left: 20px;
    box-shadow: 5px 0px #fff inset, 300px 0px #07090a inset;
  }
}



.main{
    margin: 25px 75px 25px 78px;
    overflow: hidden;    
}
@media screen and (max-width: 900px) {
  .main{
    margin: 25px 5px 25px 5px;
  }
}

.stories p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color:black ;
}
.stories img{
  padding: 5px 0px 15px 0px;
    height:150px; 
    width:150px;
}
.stories a{
  font-size: 20px;
}

.carousel img{
width: 100%;
height: 400px;
}

.carousel-control-prev-icon{
  height: 50px;
  width: 50px;
}
.carousel-control-next-icon{
  height: 50px;
  width: 50px;
}

.carousel-item h3{
  color:black;
}



.googleCalendar{
  position: relative;
  height: 0;
  width: 50%;
  padding-bottom: 50%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
}


.latetsnews,.Editorials,.WeeklySpecial,.otherlinks,.AdvertiseTariffPlan p{
  font-size: 25px;
  padding: 2px 0px 5px 0px;
  font-weight: bold;
}
.latetsnews,.Editorials,.WeeklySpecial,.otherlinks,.AdvertiseTariffPlan a{
font-size: 20px;
font-weight: 400;
}
.Editorials img{
  width: 120px;
  height: 120px;
}


.latetsnews i{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.footer{
  background-color: black;
}
.footer1{
  padding: 20px 10px 0px 10px;
  font-size: 20px;
  margin: 25px 75px 0px 78px;
  overflow: hidden;
  text-align: center;
}

.footer1 p{
  color: wheat;
}

.footer2{
  text-align: center;
}
.footer2 a{
  font-size: 37px;
  margin: 10px;
}



/* state.html */

.mainstate{
  margin: 25px 75px 25px 78px;
  overflow: hidden;  
}


.mainstate img{
  height: 200px;
  width: 200px;
}

.mainstate p{
  font-size: 25px;
  padding: 2px 0px 5px 0px;
  font-weight: bold;
}

.hr{
  font-size: 50px;
  font-weight: bold;
}

.photo img{
  width: 300px;
  height: 300px;
}

.magazinephoto img{
  width:500px;
  height: 500px;
}